@page "/testinfo/{id:guid}"
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Student")]
@inherits TestInfoPageBase

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card shadow-lg" style="border-radius: 15px; background-color:whitesmoke;">
                <div class="card-body p-5">
                    @if (_signInSuccessful == false)
                    {
                        <h3>Ви не авторизовані.</h3>
                    }
                    else
                    {
                        <PageTitle>Тест @test.Name</PageTitle>
                        <h3>Тест</h3>

                        <br />

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Назва</th>
                                        <th>Кількість питань</th>
                                        <th>Оцінка</th>
                                        <th>Дата здічі студентом</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-nowrap align-middle">
                                        <td width="30%" class="text-truncate" style="max-width: 100px;">@test.Name</td>
                                        <td width="30%" class="text-truncate" style="max-width: 100px;">@numberOfQuestions</td>
                                        @if (testInformation?.Grade == null)
                                        {
                                            <td width="11%" class="text-truncate" style="max-width: 100px;"></td>
                                            <td width="29%"></td>
                                        }
                                        else
                                        {
                                            <td width="11%">@testInformation.Grade/@numberOfQuestions</td>
                                            <td width="29%">@testInformation.FinishedAt?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        if (testInformation?.Grade == null)
                        {
                            <div class="d-flex">
                                <button type="button" class="btn btn-success btn-lg m-1" @onclick="StartTest">Розпочати тест</button>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex">
                                <button type="button" class="btn btn-success btn-lg m-1" disabled @onclick="StartTest">Розпочати тест</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
